.title {
	width: 450px;
	position: absolute;
	top: 30px;
	left: 70px;
}

h1 {
	font-family: 'Jost', sans-serif;
	font-weight: normal;
	display: inline;
}

.number {
	font-size: 96px;
	position: relative;
	line-height: 80px;
}

.most {
	font-size: 50px;
	position: relative;
}

.beautiful {
	font-size: 50px;
	position: relative;
}


p {
	font-family: 'Jost', sans-serif;
	font-weight: normal;
	font-size: 200px;
	position: absolute;

}